html, body {
    height: 100%;
    margin: 0;
    font-family: "Times New Roman", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary-color: #dee2e6;
    --secondary-color: #ffffff;
}

.index .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.index .content {
    flex: 1;
}

.navbar .margin {
    margin-left: 20px;
}

.create .main .box {
    height: 100px;
    margin: 0;
    padding: 0;
}

.create .main hr {
    margin: 0;
}

.create .main button {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    font-size: large;
    text-align: center;
    cursor: pointer;
}

.create .aside input[type="file"] {
    height: auto;
    font-size: large;
    display: none;
}

.create .aside input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--secondary-color);
}

.create .aside input[type="checkbox"]:checked::after {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


.create .aside input[type="checkbox"] {
    font-size: large;
    box-shadow: none;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.create .aside .select {
    height: auto;
    font-size: large;
    box-shadow: none;
    border-color: var(--primary-color);
}

.modal .events {
    height: 150px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal .event-text {
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal .event-icon {
    font-size: 25px;
    cursor: pointer;
}

.modal input {
    font-size: large;
    padding: 10px;
    border-radius: 5px;
    border-color: var(--primary-color);
}

.modal input:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}

.modal .btn-close {
    box-shadow: none !important;
}
